@import "tailwindcss";

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.light{
  --background: #ffffff;
  --text: #000000;
}
.dark{
  --background: #1a202c;
  --text: #ffffff;
}